@import url("https://jj.is-a.dev/fonts/Operator/index.min.css");


#tunnel {
    text-align: center;
    width: 100%;
}

a {
    color: white;
}

html {
    background: url("https://wallpapercave.com/wp/wp7445961.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: black;
    background-size: 100% 100%;
    color: white;
    font-family: "Operator Mono SSm Lig","times new roman",times,roman,serif;
    text-shadow: 0 0 5px #C8C8C8;
}

.github, .github:hover, .github:active {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: #111d2c;
  border-radius: 6px;
  font-size: 12px;
}

.github img {
  width: 20px;
  margin-right: 4px;
  height: auto;
}

.github img:hover, .github:hover > img {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.github:hover {
	cursor: pointer !important;
	font-size: 13.5px !important;
}
